* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fuel-station {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(227, 198, 198, 0.1);
    margin-bottom: 20px;
}

.fuel-station h1 {
    text-align: center;
    font-size: 24px;
    color: #5fa6f1;
}

.fuel-panel,
.user-panel {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="number"]::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #78abe2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #72aeee;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.result #total-price {
    color: #28a745;
}

.dashboard {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard h2 {
    text-align: center;
    font-size: 22px;
    color: #de6b76;
    margin-bottom: 20px;
}

.dashboard-item {
    margin-bottom: 15px;
}

.dashboard-item label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.dashboard-item input[type="number"] {
    width: calc(100% - 80px);
    display: inline-block;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.dashboard-item button {
    width: 70px;
    display: inline-block;
    margin-left: 10px;
    padding: 8px;
    background-color: #e67d87;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-item button:hover {
    background-color: #7899e7;
}

@media (max-width: 600px) {
    .fuel-station, .dashboard {
        width: 90%;
    }

    .dashboard-item input[type="number"] {
        width: calc(100% - 50px);
    }

    .dashboard-item button {
        width: 45px;
    }
}

input:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
}

button:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#total-price {
    animation: price-change 1s ease-in-out infinite;
}

.fuel-station:hover,
.dashboard:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
